.cta-form {
  padding: $global-sizer-m;
  background: $white;
  position: relative;

  &-wrapper {
      background: $dark;
      margin: -$global-sizer-m;

      @include breakpoint($tablet) {
        margin: 0;
        box-shadow: 5px 10px 29px $gray, 1px 3px 5px $mediumgray;

      }

      .section__title {
        @extend %h3;
        text-transform: uppercase;
      }
  }

  &__intro {

    padding: $global-sizer-m;
    color: $white;
    text-align: left;
  }

  .form__submit {

    margin-top: $global-sizer;

  }

  @include breakpoint($tablet) {
    &-wrapper  {
      @include clearfix();
    }
    &-wrapper &__intro {
      width: susy-span(5);
      float: left;
      padding: $global-sizer-l;
    }
    &-wrapper & {
      width: susy-span(7);
      float: left;
      padding: $global-sizer-l;
    }

    .form__submit {
        position: absolute;
        bottom: 0;
        right: $global-sizer-l;
        transform: translateY(50%);
        margin-top: 0;
    }
  }



}
